.EmojiBtn {
  color: var(--secondary-color);
  position: absolute;
  bottom: -25px; 
  right: 5px; 
  cursor: pointer;
}

.TextareaIcon {
  position: relative;
}

.TextareaIcon::after {
  content: '';
  position: absolute;
  top: 5px; 
  right: 20px; 
  pointer-events: none; 
}

.Picker {
  position: absolute;
  top: -700%;
  right: -1%;
}

.EditPicker {
  position: absolute;
  top: -100%;
  right: -1%;
}