.Container {
  min-height: 350px;
}

.TextContainer {
  background-color: #545D65;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
}

.Text {
  color: var(--primary-color)
}

.Text:hover {
  color: var(--secondary-color)
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.FormFile {
  display: none;
}

.Tag {
  height: fit-content;
}

.EmojiBtn {
  color: #ffcc33;
}