.Button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  width: 80px;
  border-radius: 12px;
  padding: 5px;
  margin: 2px;
}

.Button:hover {
  background-color: var(--main-bg-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.BackToTopButton {
  position: fixed;  
  width: 50px; 
  bottom: 60px; 
  right: 40px; 
  z-index: 99; 
  cursor: pointer;
  color: var(--secondary-color);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.BackToTopButton.Show {
  opacity: 1;
}

.ChangeImgBtn {
  width: 150px;
  cursor: pointer;
}
