/* Code adapted from Isabel C CodePen 'Pure CSS Horizontal Divider With Star Icon': 
https://codepen.io/isabelc/pen/MmrJgx */

.Divider {
  margin: 40px auto;
  width: 500px; 
  max-width: 100%;
  position: relative;
}

.DividerInner { 
  overflow: hidden; 
  height: 20px; 
}

.DividerInner:after { 
  content: ''; 
  display: block; 
  margin: -25px auto 0;
  width: 100%; 
  height: 25px;  
  border-radius: 10px;
  box-shadow: 0 0 10px #DB00BD;
}

.DividerSpan {
  width: 50px; 
  height: 50px; 
  position: absolute; 
  bottom: 100%; 
  margin-bottom: -25px;
  left: 50%; 
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px var(--secondary-color);
  background: var(--main-bg-color);
}

.DividerIcon {
  position: absolute;
  top: 4px; 
  bottom: 4px;
  left: 4px; 
  right: 4px;
  border-radius: 100%;
  border: 1px dashed var(--secondary-color);
  text-align: center;
  line-height: 40px;
  color: var(--secondary-color);
  font-size: 10px;
}