.NavLink {
  color: var(--primary-color);
  font-family: var(--headings-font-family);
  font-size: 18px;
}

.NavLink:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.Active {
  color: var(--secondary-color);
}

.NavToggle {
  background-color: var(--primary-color);
  padding: 2px 4px;
}