.NavLink {
  color: var(--primary-color);
  font-family: var(--headings-font-family);
  font-size: smaller;
}

.Active {
  color: var(--secondary-color);
}

.NavToggle {
  background-color: var(--primary-color);
}