.Text {
  color: #252525;
}

.Heart {
  color: #FF00DE;

}

.IconOutline:hover {
  color: #FF00DE;
}

.Image {
  width: 600px;
  height: 600px;
  padding: 2px;
  object-fit: cover;
}

.Card {
  max-width: 600px;
  border: none;
}