.App {
  background-color: var(--main-bg-color);
  color: var(--primary-color);
  font-family: 'Moulpali', sans-serif;
  font-size: 25px;
  min-height: 100vh;
}

a {
  color: var(--primary-color);
}

.Text {
  color: var(--primary-color)
}