.App {
  background-color: var(--main-bg-color);
  color: var(--primary-color);
  font-family: 'Moulpali', sans-serif;
  min-height: 100vh;
  overflow: hidden;
}


a {
  color: var(--primary-color);
}

.Text {
  color: var(--primary-color);
}

.Highlight {
  color: var(--secondary-color);
}

.Link {
  color: var(--primary-color);
  text-decoration: none;
}

.Link:hover {
  color: var(--secondary-color);
}

.OppositeLink:hover {
  color: var(--primary-color);
}