.App {
  background-color: var(--main-bg-color);
  color: var(--primary-color);
  font-family: 'Moulpali', sans-serif;
  min-height: 100vh;
}

a {
  color: var(--primary-color);
}

.Text {
  color: var(--primary-color);
}

.Heading {
  font-family: var(--headings-font-family);
  font-size: 25px;
}

.Highlight {
  color: var(--secondary-color);
}