:root {
  --main-bg-color: black;
  --primary-color: #E9ECEF;
  --secondary-color: #FF00DE;
}

:root {
  --headings-font-family: "Rubik Lines", sans-serif;
  --content-font-family: "Maulpali", sans-serif;
}

h1, h2, h3 {
  font-family: 'Rubik Lines', sans-serif;
}

img {
  border-radius: 10px;
}

.height {
  height: 100vh;
}