:root {
  --main-bg-color: black;
  --primary-color: #E9ECEF;
  --secondary-color: #FF00DE;
}

:root {
  --headings-font-family: "Rubik Distressed", sans-serif;
  --content-font-family: "Maulpali", sans-serif;
}

h1, h2, h3 {
  font-family: var(--headings-font-family);
}

img {
  border-radius: 10px;
}
